<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=I7-16;Initial Catalog=ScopusCrawler;Integrated Security=True;Pooling=False" providerName="System.Data.SqlClient" />
    <!--<add name="DefaultConnection" connectionString="Data Source=192.168.13.105;Initial Catalog=ScopusCrawler;Persist Security Info=True;User ID=sa;Password=Yt1NyDpQNm" providerName="System.Data.SqlClient" />-->
  
  </connectionStrings>
  <appSettings>
    <add key="key1" value="3d9af39cf3b78b446bbe67f0ae9211e1" />
    <add key="key2" value="084a711782598832418b7a32cb0cc238" />
    <add key="key3" value="e92c7a096a234b90ee6464e6ec97a68f" />
    <add key="key4" value="92df4c5e1cfb69791af53475ae5dc3f9" />
    <add key="key5" value="a47f385551fac70f80924b0f2c1f60e6" />
    <add key="key6" value="3867c342511ef26ab41bdb8e565539e3" />
    <add key="key7" value="fbcca056906b509902273220b5709086" />
    <add key="key8" value="88aff94a8084f9ee48df6789274b92f2" />
    <add key="key9" value="139b98ffca1f8436d2a28e53e3f7563f" />
    <add key="key10" value="66c7807f257afeaa816d193df9d90baf" />
    <add key="key11" value="9e51e3083f4405b0e8f428214d609274" />
    <add key="key12" value="94af4543bfbf66b0fed37866f8f1fc90" />
    <add key="key13" value="6a625406c8a4cd21b3eab2770a7ab344" />
    <add key="key14" value="448d5deaeec6fd9633765d12c83853cf" />
    <add key="key15" value="b9d8b56bccb7be24e9881bba9f923eb2" />
    <add key="key16" value="4eed08cdfe43b6c131eedb32faa9cd67" />
    <add key="key17" value="dee4d7135708c1d16c1eec57f3c3ef42" />
    <add key="key18" value="86999368e9386ea73f6fc6fb9f8a2a33" />
    <add key="key19" value="ede60b2419e3635c090a1f174edff09d" />
    <add key="key20" value="351b595cc4dbcb05a8f4ff0cac383dba" />
    <add key="key21" value="dc29a205bb157c44bb6a5b412db9204c" />
    <add key="key22" value="47633e1cf67a15b08dfc2925cf622a9e" />
    <add key="key23" value="d43cd353c2c7f931f7ea50e3b3184609" />
    <add key="key24" value="354292d3d28c1d8c834fefbe1bdf01f8" />
    <add key="key25" value="bd9ddf64bbcc7ed6d09ddcc16d607d75" />
    <add key="key26" value="690709ecdce7f3920127df37b1ee91cb" />
    <add key="key27" value="23558dc47a6a98ccccd38600be7edf48" />
    <add key="key28" value="485727ce7621cb389872749f8ab8315f" />
    <add key="key29" value="1ca7b8d2fcab50bc080c70acb33de32d" />
    <add key="key30" value="51d35bbb09540549fc7b0d1d5662bfc6" />
    <add key="key31" value="75df8212ffd64ebc2506d1069330d9ba" />
    <add key="key32" value="26cd80596059a3ab6367b2133761d4b9" />
    <add key="key33" value="f13ff928361dcfc4736d15c61eca6e8b" />
    <add key="key34" value="aa85ecd5383753cb8e47b59458db6564" />
    <add key="key35" value="6f7e94148d7acb56f281e30271fc913d" />
    <add key="key36" value="3c5b560339615b921660f017e61f971f" />
    <add key="key37" value="d17d2994ed3072543a49ff57cdc6397f" />
    <add key="key38" value="12abe023278df97ee44b9439c7a610d3" />
    <add key="key39" value="932f8b771ed1054c63665a62be8dd80d" />
    <add key="key40" value="c9a05d710f4d64a3a188cbaa6ea706a1" />
    <add key="key41" value="f15887e95d9d283af40ace30aa65b305" />
    <add key="key42" value="5c2b7277e5fd74d2a7d16896ab5fb5a0" />
    <add key="key43" value="cd470cc67a5c211278bfaefe7aeb5a6a" />
    <add key="key44" value="44c2d3871d64727a51e5d4b77830ba86" />
    <add key="key45" value="c6ae5e42fc6f753ae849d2e65f3f2991" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>